* {
  font-family: 'MinSans-Medium';
}

*:focus-visible {
  outline: none;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button, input, select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: block;
}

button:focus-visible, input:focus-visible, select:focus-visible {
  outline: none;
  border-width: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button, a {
  cursor: pointer;
}

@font-face {
  font-family: 'MinSans-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  display: block;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.modal-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-content {
  width: 500px;
  height: 500px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.modal-content.show {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.tab-container {
  width: 800px;
  height: 400px;
  background: #fff;
}

.tab-content {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.tab-content.show {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.dropdown-container {
  width: auto;
}

.dropdown-container.show .dropdown-button {
  border-radius: 8px 8px 0 0;
}

.dropdown-container.show .dropdown-list {
  border-radius: 0 0 8px 8px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
}

.dropdown-container.separate .dropdown-button {
  border-radius: 8px;
}

.dropdown-container.separate .dropdown-list {
  margin-top: 8px;
  border-radius: 8px;
}

.dropdown-button {
  background: #42b983;
  display: block;
  padding: .375rem .75rem;
  color: #fff;
  border-radius: 8px;
  width: 100%;
}

.dropdown-list {
  background: #fff;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.dropdown-item {
  padding: .25rem 1rem;
  cursor: pointer;
}

.input-box {
  width: 300px;
  height: 56px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 8px;
  padding-right: 36px;
  font-size: 16px;
  margin-top: 6px;
  cursor: text;
}

.input-box label {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  -webkit-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
  font-size: 1em;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.input-box input {
  background: none;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  font-size: 1em;
  color: transparent;
  -webkit-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-box fieldset {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  min-width: 0%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 1em;
}

.input-box fieldset legend {
  float: unset;
  overflow: hidden;
  display: block;
  width: auto;
  padding: 0;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 0.01px;
  -webkit-transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  white-space: nowrap;
  font-size: 0.75em;
}

.input-box[type=select] {
  padding-right: 8px;
  cursor: pointer;
}

.input-box[type=select] .selected {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.input-box[type=select] .select-box {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.input-box[type=select] .select-box > li {
  padding: 8px;
  background: #fff;
  cursor: pointer;
}

.input-box.focus input {
  color: #000;
  padding-left: 6px;
}

.input-box.focus fieldset {
  border-color: #42b983;
}

.input-box.focus fieldset legend {
  max-width: calc(100% - 24px);
  -webkit-transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  padding: 0 6px;
}

.input-box.focus label {
  -webkit-transform: translate(6px, -180%) scale(0.75);
          transform: translate(6px, -180%) scale(0.75);
  color: #42b983;
}

.input-box.focus[type=select] .select-box {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.select-box {
  width: 300px;
  height: 56px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 8px;
  font-size: 16px;
  margin-top: 6px;
  cursor: pointer;
}

.select-box .selected {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.select-box .select-list {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 20;
}

.select-box .select-list > li {
  padding: 8px;
  background: #fff;
  cursor: pointer;
}

.select-box label {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  -webkit-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
  font-size: 1em;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.select-box fieldset {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  min-width: 0%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 1em;
}

.select-box fieldset legend {
  float: unset;
  overflow: hidden;
  display: block;
  width: auto;
  padding: 0;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 0.01px;
  -webkit-transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  white-space: nowrap;
  font-size: 0.75em;
}

.select-box.focus fieldset {
  border-color: #42b983;
}

.select-box.focus fieldset legend {
  max-width: calc(100% - 24px);
  -webkit-transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  padding: 0 6px;
}

.select-box.focus label {
  -webkit-transform: translate(6px, -180%) scale(0.75);
          transform: translate(6px, -180%) scale(0.75);
  color: #42b983;
}

.select-box.focus .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.select-box.hide .select-list {
  opacity: 0;
  visibility: hide;
  pointer-events: none;
}

.tooltip-box {
  position: absolute;
  left: 0;
  top: 0;
}

.tooltip-box .tooltip {
  position: relative;
  color: transparent;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tooltip-box .tooltip::after {
  content: var(--content);
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  background: #42b983;
  font-size: 12px;
  border-radius: 4px;
  padding: 3px 5px;
}

.tooltip-box:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.tooltip-box.top .tooltip::after {
  bottom: auto;
  top: -30px;
}

.progress-bar {
  width: 300px;
  height: 30px;
  background: #fff;
  border: 2px solid #42b983;
  border-radius: 30px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 28px 0 0 28px;
  height: 28px;
  background: #42b983;
  width: var(--width);
}

.progress-bar .percent {
  position: relative;
  color: #fff;
  z-index: 1;
  font-size: 12px;
}

.progress-bar.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.progress-bar.left::after {
  right: auto;
  left: 0;
  border-radius: 0 28px 28px 0;
}

.progress-bar.scroll::after {
  width: 0;
}

.progress-bar.animate::after {
  -webkit-animation: progressBar 1s forwards;
          animation: progressBar 1s forwards;
}

.progress-circle {
  position: relative;
}

.progress-circle .circle-wrap {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.progress-circle .circle-wrap .frame,
.progress-circle .circle-wrap .bar {
  fill: none;
}

.progress-circle .circle-wrap .frame {
  stroke: #DDE2E9;
}

.progress-circle .circle-wrap .bar {
  stroke: #42b983;
  stroke-linecap: round;
  stroke-dashoffset: var(--offset);
}

.progress-circle .value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progress-circle.scroll .circle-wrap .bar {
  stroke-dashoffset: var(--offset);
}

.progress-circle.animate .circle-wrap .bar {
  stroke-dashoffset: var(--cir);
  -webkit-animation: progressCircle 1.5s forwards;
          animation: progressCircle 1.5s forwards;
}

.speed-dial {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 10;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speed-dial .dial-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #42b983;
  color: #fff;
}

.speed-dial .icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.speed-dial .dial-item {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.speed-dial .dial-item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.speed-dial .dial-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.speed-dial .dial-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.speed-dial .dial-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.speed-dial .dial-item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.speed-dial:hover .dial-button .icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.speed-dial:hover .dial-item {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.speed-dial:hover .dial-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.speed-dial:hover .dial-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.speed-dial:hover .dial-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.speed-dial:hover .dial-item:nth-child(4) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.speed-dial:hover .dial-item:nth-child(5) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.img-list {
  width: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.img-list.massory {
  display: block;
  -webkit-column-count: 3;
          column-count: 3;
}

.img-list .list-item {
  height: auto;
}

.img-list .list-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.collapse-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  font-size: 14px;
}

.collapse .icon {
  color: #42b983;
  margin-right: 8px;
}

.collapse .chevron {
  margin-left: auto;
  margin-right: 0;
}

.collapse .content {
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.collapse .content li {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
  border-radius: 4px;
}

.carousel {
  width: 100vw;
  height: 400px;
  position: relative;
}

.carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  position: absolute;
  z-index: 1;
  -webkit-transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-button {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.carousel-button.next {
  right: 0;
  left: auto;
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--width);
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--width);
  }
}

@-webkit-keyframes progressCircle {
  to {
    stroke-dashoffset: var(--offset);
  }
}

@keyframes progressCircle {
  to {
    stroke-dashoffset: var(--offset);
  }
}
/*# sourceMappingURL=cart.css.map */